<!--<ion-menu side="start">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="md-clipboard" slot="start"></ion-icon>
        <ion-label>Noticias</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="notifications" slot="start"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Configuraciones</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Control de Notas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
  </ion-content>
</div>

<script>
  function openMenu() {
    document.querySelector('ion-menu-controller')
      .open();
  }
</script>-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Menú principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Horario</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="ios-paper"></ion-icon>
        <ion-label>Noticias</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="ios-notifications"></ion-icon>
        <ion-label>Notificaciones</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="ios-document"></ion-icon>
        <ion-label>Notas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Información</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>